{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      	<h4 class="h4">Your Fulfillment # {{fulfillmentData.fulfillmentID}}</h4>
     	<h5 class="h5 d-inline"> Fulfilled on: {{fulfillmentData.fulfillDate}}</h5>
    </div>
    <div class="col">
		<form class="float-right" method=post name="deleteFulfillment"	action="{{url_for('displayFulfillment')}}">
			{{ form.hidden_tag() }}
    		{{ form.fulfillmentID(value='{{fulfillmentData.fulfillmentID}}') }}
    		<input type=submit value="Delete Fulfillment" class="btn btn-danger m-2">
		</form>
		<a href="{{url_for('account')}}" class="btn btn-info m-2  float-right" role="button">Return To Your Account</a>
    </div>
  </div>
 </div>


{% for request in requestData %}
<div class="col pb-4">
	<div class="content-section">
		<table class="table table-striped table-sm table-responsive-sm">
		  <thead>
		    <tr>
		      <th scope="col">Requester</th>
		      <th scope="col">Address</th>
		      <th scope="col">Phone</th>
		      <th scope="col">Email</th>
		      <th scope="col">Need By</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in request[0] %}
			  	<tr>
					<td>{{item.firstName}} {{item.lastName}}</td>
			      	<td> 
			      		<p>{{item.userStreet}}</p>
			      		<p>{{item.userCity}}, {{item.userState}} {{item.userZip}}</p>
			      	</td>
			      	<td>{{item.userPhone}}</td>
					<td>{{item.userEmail}}</td>
					<td>{{item.needByDate}}</td>
			    </tr>
			{% endfor %}			    
		  </tbody>
		</table>
		<div></div>
		<table class="table table-striped table-sm table-responsive-sm">
		  <thead>
		    <tr>
		      <th scope="col">Item Name</th>
		      <th scope="col">Description</th>
		      <th scope="col">Quantity</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in request[1] %}
			  	<tr>
					<th>{{item.itemName}}</th>
					<td>{{item.itemDescription}}</td>
					<td>{{item.quantity}}</td>
			    </tr>
			{% endfor %}			    
		  </tbody>
		</table>
	</div>
</div>
{% endfor %}

{% endblock content %}
