{% extends "layout.html" %}
{% block content %}
<div id="homePageCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  	<div class="carousel-item active" data-interval="3000">
	  	<div class="container">
		  <div class="row">
		    <div class="col-md-3 bg-primary d-flex align-items-center">
		      <h3 class="text-white">Request</h3>
		    </div>
		    <div class="col-md-9">
		      	<img src="./static/request.jpg" class="d-block w-100" alt="Request">
		    </div>
		  </div>
		</div>
    </div>
    <div class="carousel-item" data-interval="3000">
	  	<div class="container">
		  <div class="row">
		    <div class="col-md-3 bg-primary d-flex align-items-center">
		      <h3 class="text-white">Fulfill</h3>
		    </div>
		    <div class="col-md-9">
		      <img src="./static/fulfill.jpg" class="d-block w-100" alt="Fulfill">
		    </div>
		  </div>
		</div>
    </div>
    <div class="carousel-item" data-interval="3000">
	  	<div class="container">
		  <div class="row">
		    <div class="col-md-3 bg-primary d-flex align-items-center">
		      <h3 class="text-white">Connect</h3>
		    </div>
		    <div class="col-md-9">
		      <img src="./static/connect.jpg" class="d-block w-100" alt="Connect">
		    </div>
		  </div>
		</div>
    </div>
    <div class="carousel-item" data-interval="3000">
	  	<div class="container">
		  <div class="row">
		    <div class="col-md-3 bg-primary d-flex align-items-center">
		      <h3 class="text-white">Welcome</h3>
		    </div>
		    <div class="col-md-9">
		      <img src="./static/welcome.jpg" class="d-block w-100" alt="Welcome">
		    </div>
		  </div>
		</div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col 12 mb-4 mt-4">
			<h3 class="text-center">Help Your Neighbor</h3>
			<p class="text-center text-muted">An interface to facilitate neighborhood acts of kindness by connecting recipients of aid to those who are able to provide it</p>
		</div>
	</div>
	<div class="row">
    	<div class="col-sm-5 mt-3 mb-3 bg-secondary">
    		<h4 class="text-white mt-2">Get Started</h4>
    		<p class="text-white">You are one step away from building connections with your neighbors.  Register now to start creating and fulfilling requests.</p>
    		<a href="{{url_for('register')}}" class="btn btn-light m-2" role="button">Click to Register</a>
    	</div>
    	<div class="col-sm-2">
    	</div>
    	<div class="col-sm-5 mt-3 mb-3 bg-secondary">
    		<h4 class="text-white mt-2">Already a Participant?</h4>
    		<p class="text-white">Login to view your account dashboard and continue connecting with your community.</p>
    		<a href="{{url_for('login')}}" class="btn btn-light m-2" role="button">Click to Log In</a>
    	</div>
    </div>
</div>
{% endblock content %}