{% extends "layout.html" %}
{% block content %}
	  <div class="content-section">
	  <h3>About Help Your Neighbor</h3>
    <p class='text'>It can often be difficult for those who are elderly, disabled, and otherwise homebound to perform tasks such as grocery shopping or picking up medication. This webapp seeks to help address this problem by providing an interface to facilitate neighborhood acts of kindness by connecting recipients of aid to those who are able to provide it.  Recipients can log on to the website to place request posts for needed items and donors can log on and search the requests to assess what they can help with, and then assign themselves to fulfill those requests. Our database-driven website records user information, the requests and items on the requests that are needed, as well as a record of all matched donor/recipient transactions.</p>
  </div>
{% endblock content %}
